
#navbarSupportedContent{
background-color: rgba(21, 0, 0, 0.818);
font-size: larger;
}

#conf {
    color:  #f7f2f8ea ;
    font-size: 2.2vw;
    margin-left: 1.1vw;
}

#nav-it {
    color: #aeaeae;
    font-size: 1.1vw;
    margin-right: 0.3vw;
}

#nav-it-orador {
    color: rgba(255, 255, 255, 0.946);
    font-size: 1.1vw;
    margin-right: 0.5vw;
}

#nav-it-tickets {
    color: #91ff02;
    font-size: 1vw;
    margin-right: 0.3vw;
}


h1 {
    margin: 2rem;
}

.card {
    max-width: 18rem;
    
}

#cardEstudi {
    border-color: #017bff;
    padding-top: 5px;
     text-align:center; 
    
}

#cardTrain {
    border-color: #01c684;    
    padding-top: 5px;
    text-align:center; 
}

#cardJunior {
    border-color: #fec007d5;    
    padding-top: 5px;
    text-align:center; 
}
#btnBorrar {
    width: 50%;
    background-color: #78b922;
    border-color: #78b922;
}

#btnResumen {
    width: 50%;
    background-color: #78b922;
    border-color: #78b922;
}

#footer {
    background-color: rgba(19,35,48,1); 
    height: 5vw;
}

#footer1 {
   color: rgb(255, 255, 255);
   margin-top: 2vw;
    font-weight: 3;
    margin: 0.5rem;
}